CATS VS DOGS PREDICTOR

TECH USED ->

PANDAS
NUMPY
MATPLOTLIB
SEABORN
PYTORCH [DEEP LEARNING]

IN THIS PREDICTOR, WE HAVE SUCCESSFULLY MAKE AN MODEL THAT CAN PREDICT CATS AND DOGS JUST BY SEEING THE IMAGE. IN FUTURE, WE ARE ADDING BEST UI FOR THIS SO THAT, IT CAN EASILY USED BY THE USER.